
/*
Doesn't reset the values, might be bootstrap...
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 100%;
  line-height: 1.5;
} */

body{
  background-color: var(--white-color);
}